<div class="register">
    <div class="register-clase">
        <h1>REGISTER</h1>
        <div class="register-clase-form">
            <form [formGroup]="registerForm" (ngSubmit)="registrar()">
                <div>
                    <input type="text" placeholder="Name" formControlName="name" />
                    <p *ngIf="(submited && registerForm?.get('name')?.hasError('required'))">El campo es requerido</p>
                </div>
                <div>
                    <input type="text" placeholder="Age" formControlName="age" />
                    <p *ngIf="(submited && registerForm?.get('age')?.hasError('required'))">El campo es requerido</p>
                </div>
                <div>
                    <input type="email" placeholder="Email" formControlName="email" />
                    <p *ngIf="(submited && registerForm?.get('email')?.hasError('required'))">El campo es requerido</p>
                    <p *ngIf="(submited && registerForm?.get('email')?.hasError('pattern'))">No tiene formato valido</p>
                </div>
                <div>
                    <input type="password" placeholder="Password" formControlName="password" />
                    <p *ngIf="(submited && registerForm?.get('password')?.hasError('required'))">El campo es requerido</p>
                    <p *ngIf="(submited && registerForm?.get('password')?.hasError('pattern'))">La contraseña debe contener una mayuscula, una minuscula, un número y un caracter especial</p>
                </div>
                <button>Registrar</button>
            </form>
        </div>
    </div>
</div>