.background {
    background-image: url("https://png.pngtree.com/background/20230528/original/pngtree-an-empty-gym-with-some-equipment-and-dark-walls-picture-image_2773763.jpg");
    background-size: 100vw;
    min-height: 100vh;
}