<div class="añadir">
    <div class="añadir-clase">
        <h1>Añadir nueva clase</h1>
        <div class="añadir-clase-form">

            <form [formGroup]="classForm" (ngSubmit)="addClass()">
                <div>
                    <input type="text" placeholder="nombre" formControlName="name"/>
                    <p *ngIf="(submited && classForm?.get('name')?.hasError('required'))">Este campo es requerido</p>
                </div>
                <div>
                    <input type="text" placeholder="duración" formControlName="duration"/>
                    <p *ngIf="(submited && classForm?.get('duration')?.hasError('required'))">Este campo es requerido</p>
                </div>
                <div>
                    <input type="text" placeholder="sala" formControlName="class"/>
                </div>
                <div>
                    <input type="text" placeholder="tipo" formControlName="type"/>
                </div>
                <div>
                    <input type="text" placeholder="imagen" formControlName="img"/>
                    <p *ngIf="(submited && classForm?.get('img')?.hasError('required'))">Este campo es requerido</p>
                </div>
                <button>Añadir</button>
            </form>
        </div>
    </div>
    
    <div *ngIf ="clase" class="añadir-clase extra">
        <div >
                <h2>{{clase.name}}</h2>
                <h4>Duración: {{clase.duration}}</h4>
                <h4> Sala: {{clase.class}}</h4>
                <h4>Tipo: {{clase.type}}</h4>
                <img src={{clase.img}} alt={{clase.name}}/>
        </div>
    </div>
</div>
