<div class="home">
    <h1>Planes</h1>
    <div class="home-programas">
        <div class="home-programas-tarjetas">
            <h2>CONFORT</h2>
            <p><span>€ 19,99</span> por 4 semanas</p>
            <div class="tarjeta">
                
                <ul>
                    <li>Acceso ilimitado a la App</li>
                    <li>Acceso a todas las clases presenciales y virtuales</li>
                    <li>Sin acceso a piscina y solarium </li>
                    <li>Uso limitado a un único centro</li>
                    <li>Cuota de inscripción: 14,99€</li> 
                </ul>
            </div> 
        </div>
        <div class="home-programas-tarjetas">
            <h2>PREMIUM</h2>
            <p><span>€ 29,99</span> por 4 semanas</p>
            <div class="tarjeta">
                
                <ul>
                    <li>Acceso ilimitado a la App</li>
                    <li>Acceso a todas las clases presenciales y virtuales</li>
                    <li>Uso ilimitado a todos los centros</li>
                    <li>Acceso a piscina y solarium</li>
                    <li>Cuota de inscripción: 0€ </li>  
                </ul> 
            </div>
        </div>
    </div>
</div>
